#title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  text-align: center;
}

#buttons, #text {
  text-align: center;
}

#buttonRock, #buttonPaper, #buttonScissors {
  outline: none;
  outline-style: none;
  outline-offset: none;
  background-color: white;
  border-style: none;
  border-radius: 4px;
  color: #FFFFFF;
  cursor: pointer;
  transition: opacity 0.15s;
}

#imgRock, #imgPaper, #imgScissors {
  width: 100px;
  height: 100px;
  margin: 20px 30px 20px 30px;
  align-items: center;
}

#imgRock:hover, #imgPaper:hover, #imgScissors:hover {
  opacity: 0.85;
}

#userText, #computerText, #winResult {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 4px;
}

#userText {
  margin-bottom: 6px;
}

#winResult {
  margin-top: -10px;
  margin-bottom: -10px;
}

#winText, #win, #loseText, #lose, #tieText, #tie {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

#winDiv, #loseDiv, #tieDiv {
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  align-items: center;
}